.black-checkbox {
  color: black;
}

.e-headercell {
  background-color: #212e3b;
  border-bottom-color: #212e3b;
  border-top-color: #212e3b;
  color: #ffffff;
}

.e-headertext {
  font-size: 14px;
}

.e-grid {
  border-color: #ffffff;
}

.e-grid .e-gridheader {
  border-bottom: 0;
}

.e-icons {
  font-size: 11px !important;
  padding-left: 13px !important;
  color: #ffffff !important;
}
