<div class="flex flex-col h-full">
  <div class="flex flex-col md:hidden py-2 bg-gray-500 fixed w-full">
    <div class="flex px-2 pb-1 justify-between px-3">
      <div class="text-gray-200 text-sm underline">
        {{connectedUser.name}}
      </div>
      <div class="text-gray-200 text-sm">
        {{appVersion}}
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div [ngClass]="selectedFilter === 0 ? 'bg-gray-700 text-white' : 'bg-gray-300 text-black'"
        class="py-2 w-1/3 flex justify-center items-center h-full mx-2 shadow active:shadow-lg rounded"
        (click)="onChooseFilter(0)">
        <img *ngIf="selectedFilter !== 0" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/all_gris.png"
          alt="Tous">
        <img *ngIf="selectedFilter === 0" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/all_white_64.png"
          alt="Tous">
        <span>Tous</span>
      </div>
      <div [ngClass]="selectedFilter === 1 ? 'bg-green-600 text-white' : 'bg-gray-300 text-black'"
        class="py-2 w-1/3 flex justify-center items-center h-full mx-2 shadow active:shadow-lg rounded"
        (click)="onChooseFilter(1)">
        <img *ngIf="selectedFilter !== 1" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/entrees_gris.png"
          alt="Entrees">
        <img *ngIf="selectedFilter === 1" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/entrees.png"
          alt="Entrees">
        <span>Entrée</span>
      </div>
      <div [ngClass]="selectedFilter === 2 ? 'bg-red-500 text-white' : 'bg-gray-300 text-black'"
        class="py-2 w-1/3 flex justify-center items-center h-full mx-2 shadow active:shadow-lg rounded"
        (click)="onChooseFilter(2)">
        <img *ngIf="selectedFilter !== 2" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/sorties_gris.png"
          alt="Sorties">
        <img *ngIf="selectedFilter === 2" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/sorties.png"
          alt="Sorties">
        <span>Sortie</span>
      </div>
    </div>
    <div class="flex justify-between items-center mt-1 px-2">
      <div class="flex">
        <div class="flex items-center justify-center bg-gray-700 p-2 mr-2 h-8 w-8 rounded"
          (click)="onShowSearchModal()">
          <img class="cursor-pointer" src="assets/images/search_white.png" alt="Cancel">
        </div>
        <div class="flex items-center justify-center bg-gray-700 p-2 mr-2 h-8 w-8 rounded" (click)="onResetFilters()">
          <img class="cursor-pointer" src="assets/images/cancel_white_mobile.png" alt="Cancel">
        </div>
        <div class="border-b border-b-2 flex items-center ml-2 w-48">
          <input [(ngModel)]="searchText"
            class="appearance-none bg-transparent border-none w-full mr-3 py-1 px-2 leading-tight focus:outline-none placeholder-white text-white"
            type="text" placeholder="Recherche" aria-label="Search">
        </div>
      </div>
      <div class="flex mt-2" *ngIf="(entriesTotal | async) as totalArray">
        <div *ngIf="totalArray[0]" [class.bg-green-600]="totalArray[0].total >= 0"
          [class.bg-red-600]="totalArray[0].total < 0" class="shadow px-3 text-white rounded text-sm">
          {{totalArray[0].total | number:'0.2-2'}}
        </div>
      </div>
    </div>
  </div>
  <nav class="bg-gray-300 px-2 py-2 shadow hidden md:block">
    <div class="flex justify-between items-center">
      <div class="breadcrumbs flex items-center">
        <div class="text-lg">
          {{connectedUser.name}}
        </div>
        <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" />
        </svg>
        <div class="text-lg underline">
          Journal
        </div>
      </div>
      <div class="icons-container flex">
        <img class="w-8 h-8 cursor-pointer mr-2" src="assets/images/bt_add.png" alt="Add" (click)="onShowAddModal()">
        <img *ngIf="logedinUser.isAdmin" class="w-8 h-8 cursor-pointer mr-2" src="assets/images/export-xls.png"
          alt="Export" (click)="onExportToExcel()">
        <img class="w-8 h-8 cursor-pointer" src="assets/images/bt_delete.png" alt="Delete" (click)="onDeleteMultiple()">
      </div>
    </div>
  </nav>
  <div
    class="hidden md:flex flex-row lg:flex-col xl:flex-row items-start xl:items-center justify-between px-4 py-2 text-base">
    <div class="flex items-center justify-start">
      <div class="flex mr-4">
        <div [class.bg-navy]="selectedFilter === 0"
          class="bg-gray-500 bg-navy flex h-10 hover:bg-navy items-center p-1 w-10 rounded-l"
          (click)="onChooseFilter(0)">
          <img class="cursor-pointer" src="assets/images/all_white.png" alt="All">
        </div>
        <div [class.bg-green-400]="selectedFilter === 1"
          class="bg-gray-500 p-1 hover:bg-green-400 flex items-center h-10 w-10" (click)="onChooseFilter(1)">
          <img class="cursor-pointer" src="assets/images/entreDlg_active_white.png" alt="Entree">
        </div>
        <div [class.bg-red-400]="selectedFilter === 2"
          class="bg-gray-500 p-1 hover:bg-red-400 flex items-center h-10 w-10 rounded-r" (click)="onChooseFilter(2)">
          <img class="cursor-pointer" src="assets/images/sortieDlg_active_white.png" alt="Sortie">
        </div>
      </div>
      <div class="flex lg:hidden items-center justify-center bg-gray-800 p-2 mr-4 h-8 w-8 rounded"
        (click)="onShowSearchModal()">
        <img class="cursor-pointer" src="assets/images/search_white.png" alt="Cancel">
      </div>
      <div class="flex items-center justify-center bg-gray-800 p-1 mr-2 lg:mr-4 h-6 w-6 rounded"
        (click)="onResetFilters()">
        <img class="cursor-pointer" src="assets/images/cancel_white.png" alt="Cancel">
      </div>
      <div class="hidden lg:flex items-center">
        <mat-form-field>
          <input readonly matInput [matDatepicker]="picker" placeholder="Date de" (focus)="picker.open()"
            [(ngModel)]="searchTerms.dateFrom" (dateChange)="changeDateFrom($event)">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="text-lg mx-3">
          -
        </div>
        <mat-form-field>
          <input readonly matInput [matDatepicker]="pickerTo" placeholder="Date à" (focus)="pickerTo.open()"
            [(ngModel)]="searchTerms.dateTo" (dateChange)="changeDateTo($event)">
          <mat-datepicker-toggle matSuffix [for]="pickerTo">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
        <div class="flex ml-6">
          <label class="flex items-center">
            <input type="checkbox" [(ngModel)]="exporteesChecked" class="form-checkbox" (change)="onExporteesFilter()">
            <span class="ml-2">Exportée(s)</span>
          </label>
        </div>
      </div>
      <div
        class="border-b border-b-2 border-gray-700 hover:border-pink-600 flex items-center ml-2 lg:ml-8 lg:w-64 w-72">
        <input [(ngModel)]="searchText" (ngModelChange)="searchTextChange($event)"
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
          type="text" placeholder="Recherche" aria-label="Search">
        <img class="w-4 h-4" src="assets/images/search_black.png" alt="Search">
      </div>
      <div class="ml-6 text-xl">
        {{entriesCount}}
      </div>
    </div>
    <div class="flex mt-2 lg:mt-0" *ngIf="(entriesTotal | async) as totalArray">
      <div *ngIf="totalArray[0]" [class.border-green-600]="totalArray[0].total >= 0"
        [class.border-red-600]="totalArray[0].total < 0"
        class="border px-3 rounded-l hidden lg:flex items-center text-sm">
        Solde de caisse
      </div>
      <div *ngIf="totalArray[0]" [class.bg-green-600]="totalArray[0].total >= 0"
        [class.border-green-600]="totalArray[0].total >= 0" [class.bg-red-600]="totalArray[0].total < 0"
        [class.border-red-600]="totalArray[0].total < 0"
        class="border px-3 text-white rounded lg:rounded-l-none lg:rounded-r">
        {{totalArray[0].total | number:'0.2-2':'de-CH'}}
      </div>
    </div>
  </div>
  <div class="table-container px-3 hidden md:block z-0">
    <ejs-grid #grid [dataSource]="entriesObj" [allowSorting]='true' [allowFiltering]='true' [allowExcelExport]='true'
      [enableVirtualization]='true' [locale]="'fr-CH'" [height]='gridHeight' (rowDataBound)='rowDataBound($event)'
      [selectionSettings]='selectionOptions'>
      <e-columns>
        <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='60'>
          <ng-template #template let-entry>
            <div class="flex justify-center items-center w-full">
              <img *ngIf="entry.exported" class="w-4 h-auto" src="assets/images/cadenas_close.png" alt="Cadenas">
            </div>
          </ng-template>
        </e-column>
        <e-column headerText='Entrée/Sortie' field="inout" width=140>
          <ng-template #template let-entry>
            <div (click)="onRowClick(entry)">
              <span id="Emptext">{{getEntryInOutText(entry)}}</span>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText='Date' width=120 field="entryDate">
          <ng-template #template let-entry>
            <div (click)="onRowClick(entry)">
              <span id="Emptext">{{entry.entryDate | date:'dd.MM.yyyy'}}</span>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText='Adresse' field="address.name">
          <ng-template #template let-entry>
            <div (click)="onRowClick(entry)">
              <span>{{entry.address.name}}</span>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText='Catégorie'>
          <ng-template #template let-entry>
            <div class="flex flex-col" (click)="onRowClick(entry)">
              <span class="font-bold border-b border-gray-600" *ngIf="entry.entryitems.length > 1">Total</span>
              <span *ngFor="let item of entry.entryitems">{{item.category ? item.category.name : ''}}</span>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText=' Montant' textAlign='Right' field="totalAmount" width=150>
          <ng-template #template let-entry>
            <div class="flex flex-col text-right" (click)="onRowClick(entry)">
              <span *ngIf="entry.entryitems.length > 1"
                class="font-bold border-b border-gray-600">{{entry.totalAmount | number:'0.2-2':'de-CH'}}</span>
              <span *ngFor="let item of entry.entryitems">{{item.amount | number:'0.2-2':'de-CH'}}</span>
            </div>
          </ng-template>
        </e-column>
        <!-- <e-column width="120" textAlign='Center' [visible]="false" headerText='Exporté' field="exported" type="boolean">
          <ng-template #template let-entry>
            <div class="flex justify-center items-center w-full">
              <img *ngIf="entry.exported" class="w-4 h-auto" src="assets/images/cadenas_close.png" alt="Cadenas">
            </div>
          </ng-template>
        </e-column> -->
      </e-columns>
    </ejs-grid>
  </div>
  <div class="table-container block md:hidden" style="margin-top: 7.4rem;">
    <table class="table-auto w-full text-sm">
      <tbody>
        <tr class="border-b-2 border-white" [class.bg-red-200]="entry.inout === -1"
          [class.bg-green-200]="entry.inout === 1" *ngFor="let entry of (entries | async) | entrySearch:searchText"
          (click)="onSelectEntry(entry)">
          <!-- <td class="px-4 py-2">{{entry.pieceNo}}</td> -->
          <td class="px-2 py-2 text-centre" *ngIf="exporteesChecked">
            <div class="flex justify-center items-center w-full">
              <img *ngIf="entry.exported" class="w-3 h-auto" src="assets/images/cadenas_close.png" alt="Cadenas">
            </div>
          </td>
          <td class="px-2 py-2">{{entry.entryDate | date:'dd.MM.yy'}}</td>
          <td class="px-2 py-2">{{entry.address.name}}</td>
          <td class="px-2 py-2 text-right">{{entry.totalAmount | number:'0.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div [class.opacity-100]="showSearchModal" [class.pointer-events-auto]="showSearchModal"
  class="z-20 opacity-0 pointer-events-none modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="absolute w-88 h-88 bg-white rounded-lg shadow-lg flex flex-col items-center justify-start p-5 pt-4">
    <mat-form-field>
      <input matInput readonly [matDatepicker]="pickerModal" placeholder="Date du" (focus)="pickerModal.open()"
        [(ngModel)]="searchTerms.dateFrom">
      <mat-datepicker-toggle matSuffix [for]="pickerModal">
        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerModal></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput readonly [matDatepicker]="pickerToModal" placeholder="Date à" (focus)="pickerToModal.open()"
        [(ngModel)]="searchTerms.dateTo">
      <mat-datepicker-toggle matSuffix [for]="pickerToModal">
        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerToModal></mat-datepicker>
    </mat-form-field>
    <div class="flex self-start" style="margin-left: 3.3rem;">
      <label class="flex items-center">
        <input type="checkbox" [(ngModel)]="exporteesChecked" class="form-checkbox">
        <span class="ml-2">Exportée(s)</span>
      </label>
    </div>
    <div class="text-xl mt-6"></div>
    <button class="bg-navy hover:bg-navy-light text-white py-1 h-8 px-4 rounded mt-6 w-24" (click)="onApplySearch()">
      Appliquer
    </button>
    <button
      class="bg-transparent hover:bg-navy text-navy hover:text-white py-1 px-4 h-8 mt-4 border border-navy hover:border-transparent rounded w-24"
      (click)="onCloseSearchModal()">
      Annuler
    </button>
  </div>
</div>
<div [class.opacity-100]="showAddModal" [class.pointer-events-auto]="showAddModal"
  class="z-20 opacity-0 pointer-events-none modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div [ngClass]="newEntryInOut === 2 ? 'border-green-600' : 'border-red-600'"
    class="absolute bg-white rounded-lg shadow-lg flex flex-col items-center justify-start p-5 pt-0 border-4">
    <div [class.bg-red-600]="newEntryInOut === 1" [class.bg-green-600]="newEntryInOut === 2"
      class="-mt-3 flex items-center justify-center mb-4 text-white px-5 text-xl font-bold rounded">
      <span>{{newEntryPieceNo}}</span>
    </div>
    <div class="flex w-full items-center justify-start">
      <div [ngClass]="newEntryInOut === 2 ? 'bg-green-600 text-white' : 'bg-gray-300 text-black'"
        class="py-2 px-3 flex justify-center items-center h-full mx-2 shadow active:shadow-lg rounded-lg cursor-pointer"
        (click)="onChangeNewEntryInOut(2)">
        <img *ngIf="newEntryInOut !== 2" class="w-6 h-auto" src="assets/images/entrees_gris.png" alt="Entrees">
        <img *ngIf="newEntryInOut === 2" class="w-6 h-auto" src="assets/images/entrees.png" alt="Entrees">
        <!-- <span>Entrée</span> -->
      </div>
      <div [ngClass]="newEntryInOut === 1 ? 'bg-red-600 text-white' : 'bg-gray-300 text-black'"
        class="py-2 px-3 flex justify-center items-center h-full mx-2 shadow active:shadow-lg rounded-lg cursor-pointer"
        (click)="onChangeNewEntryInOut(1)">
        <img *ngIf="newEntryInOut !== 1" class="w-6 h-auto" src="assets/images/sorties_gris.png" alt="Sorties">
        <img *ngIf="newEntryInOut === 1" class="w-6 h-auto" src="assets/images/sorties.png" alt="Sorties">
        <!-- <span>Sortie</span> -->
      </div>
    </div>
    <div class="flex w-full items-center justify-start mt-4 text-sm">
      <ejs-dropdownlist *ngIf="newEntryAddress" class="ml-2 w-56" id='ddAddresses' [dataSource]='addressList'
        [fields]="addressListFields" [value]="newEntryAddress.id" (change)="onNewAddressChange($event)"
        placeholder="Adresse">
      </ejs-dropdownlist>
      <mat-form-field class="ml-6" style="padding-top: 6px">
        <input matInput readonly [matDatepicker]="newEntryPicker" placeholder="Date" (focus)="newEntryPicker.open()"
          [(ngModel)]="newEntryDate">
        <mat-datepicker-toggle matSuffix [for]="newEntryPicker">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #newEntryPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="bg-gray-300 mb-3 mt-1 rounded w-56" style="height: 0.2vh;"></div>
    <div class="flex flex-col w-full">
      <div *ngFor="let item of newEntryItems; let itemIndex = index"
        class="flex justify-between items-center w-full px-2 my-2">
        <ejs-dropdownlist *ngIf="item.category" class="w-56" id='ddCategories' [dataSource]='categoryList$ | async'
          style="margin-top: 1px;" [fields]="categoryListFields" [value]="item.category.id"
          (change)="onChangeItemCategory($event, itemIndex)" placeholder="Catégorie">
        </ejs-dropdownlist>
        <div class="border-b border-gray-500 flex items-center ml-2 w-48 mr-4">
          <input [ngModel]="item.amount" (ngModelChange)="onNewEntryItemAmountChange(item, $event)" inputmode="numeric"
            type="number"
            class="appearance-none bg-transparent border-none w-full py-1 px-2 leading-tight focus:outline-none text-right"
            type="text" placeholder="Montant" aria-label="Amount">
        </div>
        <img class="w-6 h-auto cursor-pointer" src="assets/images/bt_delete.png" alt="Sorties"
          (click)="onRemoveNewEntryItem(itemIndex)">
      </div>
      <div class="flex items-center justify-end mt-4 px-2">
        <div [ngClass]="newEntryInOut === 1 ? 'text-red-600' : 'text-green-600'" class="text-lg mr-6">
          {{newEntryItemsTotal | number:'0.2-2'}}</div>
        <img class="w-6 h-auto cursor-pointer" src="assets/images/bt_add.png" alt="Sorties"
          (click)="onAddNewEntryItem()">
      </div>
    </div>
    <div *ngIf="newEntryErrors" class="bg-transparent border border-red-600 p-3 rounded-xl mt-12">
      <span class="text-base text-red-600">Veuillez ajouter au moins une entrée valide</span>
    </div>
    <div [class.mt-12]="!newEntryErrors" class="flex w-full justify-center items-center mt-5">
      <button class="hover:bg-green-200 focus:outline-none hover:shadow-lg p-2 rounded-full shadow text-whitew"
        (click)="onSaveNewEntry()">
        <img class="w-10 h-auto cursor-pointer" src="assets/images/save.png" alt="Sorties">
      </button>
      <button class="hover:bg-gray-200 focus:outline-none hover:shadow-lg p-2 rounded-full shadow text-whitew ml-4"
        (click)="showAddModal = false">
        <img class="w-10 h-auto cursor-pointer" src="assets/images/bt_cancel.png" alt="Sorties">
      </button>
    </div>
  </div>
</div>
<div [class.opacity-100]="showEditModal" [class.pointer-events-auto]="showEditModal"
  class="z-20 opacity-0 pointer-events-none modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div *ngIf="selectedEditEntry" [ngClass]="editEntryInOut === 1 ? 'border-green-600' : 'border-red-600'"
    class="absolute bg-white rounded-lg shadow-lg flex flex-col items-center justify-start p-5 pt-0 border-4">
    <div [class.bg-red-600]="editEntryInOut === -1" [class.bg-green-600]="editEntryInOut === 1"
      class="-mt-3 flex items-center justify-center mb-4 text-white px-5 text-xl font-bold rounded">
      <span>{{selectedEditEntry.pieceNo}}</span>
    </div>
    <div class="flex w-full items-center justify-start">
      <div *ngIf="editEntryInOut === 1"
        class="py-2 px-3 flex justify-center items-center h-full mx-2 shadow rounded-lg bg-green-600 text-white">
        <img class="w-6 h-auto" src="assets/images/entrees.png" alt="Entrees">
        <span class="ml-2">Entrée</span>
      </div>
      <div *ngIf="editEntryInOut === -1"
        class="py-2 px-3 flex justify-center items-center h-full mx-2 shadow rounded-lg bg-red-600 text-white">
        <img class="w-6 h-auto" src="assets/images/sorties.png" alt="Entrees">
        <span class="ml-2">Sortie</span>
      </div>
    </div>
    <div class="flex w-full items-center justify-start mt-4 text-sm">
      <ejs-dropdownlist *ngIf="editEntryAddress" class="ml-2 w-56" id='ddEntryAddresses'
        [dataSource]='addressList$ | async' [fields]="addressListFields" [(value)]="editEntryAddress.id"
        (change)="onEditAddressChange($event)" placeholder="Adresse">
      </ejs-dropdownlist>
      <mat-form-field class="ml-6" style="padding-top: 6px">
        <input matInput readonly [matDatepicker]="editEntryPicker" placeholder="Date" (focus)="editEntryPicker.open()"
          [(ngModel)]="editEntryDate">
        <mat-datepicker-toggle matSuffix [for]="editEntryPicker">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #editEntryPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="bg-gray-300 mb-3 mt-1 rounded w-56" style="height: 0.2vh;"></div>
    <div class="flex flex-col w-full">
      <div *ngFor="let item of editEntryItems; let itemIndex = index"
        class="flex justify-between items-center w-full px-2 my-2">
        <ejs-dropdownlist *ngIf="item.category" class="w-56" id='ddEditCategories' [dataSource]='categoryList$ | async'
          style="margin-top: 1px;" [fields]="categoryListFields" [value]="item.category.id"
          (change)="onChangeItemEditCategory($event, itemIndex)" placeholder="Catégorie">
        </ejs-dropdownlist>
        <div class="border-b border-gray-500 flex items-center ml-2 w-48 mr-4">
          <input [ngModel]="item.amount" (ngModelChange)="onEditEntryItemAmountChange(item, $event)" inputmode="numeric"
            type="number"
            class="appearance-none bg-transparent border-none w-full py-1 px-2 leading-tight focus:outline-none text-right"
            type="text" placeholder="Montant" aria-label="Amount">
        </div>
        <img class="w-6 h-auto cursor-pointer" src="assets/images/bt_delete.png" alt="Sorties"
          (click)="onRemoveEditEntryItem(itemIndex)">
      </div>
      <div class="flex items-center justify-end mt-4 px-2">
        <div [ngClass]="editEntryInOut === 1 ? 'text-green-600': 'text-red-600'" class="text-lg mr-6">
          {{editEntryItemsTotal | number:'0.2-2'}}</div>
        <img class="w-6 h-auto cursor-pointer" src="assets/images/bt_add.png" alt="Sorties"
          (click)="onAddEditEntryItem()">
      </div>
    </div>
    <div *ngIf="editEntryErrors" class="bg-transparent border border-red-600 p-3 rounded-xl mt-12">
      <span class="text-base text-red-600">Veuillez ajouter au moins une entrée valide</span>
    </div>
    <div *ngIf="!deleteOldEntryConfirm" [class.mt-12]="!editEntryErrors"
      class="flex w-full justify-center items-center mt-5">
      <button class="hover:bg-green-200 focus:outline-none hover:shadow-lg p-2 rounded-full shadow text-whitew"
        (click)="onSaveEditEntry()">
        <img class="w-10 h-auto cursor-pointer" src="assets/images/save.png" alt="Sorties">
      </button>
      <button class="hover:bg-red-200 focus:outline-none hover:shadow-lg p-2 rounded-full shadow text-whitew ml-4"
        (click)="onDeleteEntry()">
        <img class="w-10 h-auto cursor-pointer" src="assets/images/bt_delete.png" alt="Sorties">
      </button>
      <button class="hover:bg-gray-200 focus:outline-none hover:shadow-lg p-2 rounded-full shadow text-whitew ml-4"
        (click)="showEditModal = false">
        <img class="w-10 h-auto cursor-pointer" src="assets/images/bt_cancel.png" alt="Sorties">
      </button>
    </div>
    <div *ngIf="deleteOldEntryConfirm"
      class="border border-gray-500 flex flex-col ng-star-inserted py-2 px-6 rounded-lg shadow">
      <div class="text-xl">
        Êtes-vous sûr ?
      </div>
      <div class="flex justify-center items-center mt-2">
        <div
          class="bg-red-500 border-gray-600 cursor-pointer flex items-center justify-center py-1 rounded shadow text-white w-12"
          (click)="onDeleteConfirmed()">
          Oui
        </div>
        <div
          class="bg-gray-600 border-gray-600 cursor-pointer flex items-center justify-center ml-3 py-1 rounded shadow text-white w-12"
          (click)="deleteOldEntryConfirm = false">
          No
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.opacity-100]="showDeleteMultiple" [class.pointer-events-auto]="showDeleteMultiple"
  class="z-20 opacity-0 pointer-events-none modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="absolute bg-white rounded-lg shadow-lg flex flex-col items-center justify-start p-5 border">
    <div class="text-lg">
      Voulez-vous supprimer {{deleteCount}} élément(s) ?
    </div>
    <div *ngIf="deleting" class="w-full mt-6">
      <mat-progress-bar color="accent" mode="determinate" [value]="deleteProgress"></mat-progress-bar>
    </div>
    <div *ngIf="!deleting" class="flex justify-center items-center mt-6">
      <div
        class="bg-red-500 border-gray-600 cursor-pointer flex items-center justify-center py-1 rounded shadow text-white w-12"
        (click)="onDeleteMultipleConfirmed()">
        Oui
      </div>
      <div
        class="bg-gray-600 border-gray-600 cursor-pointer flex items-center justify-center ml-3 py-1 rounded shadow text-white w-12"
        (click)="showDeleteMultiple = false">
        No
      </div>
    </div>
  </div>
</div>
