<div class="flex flex-col-reverse md:flex-col h-full">
  <nav
    class="bg-white md:bg-gray-900 shadow pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto md:flex w-full z-20 hidden md:top-0 md:bottom-auto"
    style="height: 6%;">
    <div class="flex flex-row justify-between items-center px-2 w-full">
      <div class="flex items-center">
        <!-- <img class="w-10 h-10 cursor-pointer" src="assets/images/logo.png" alt="Home">
        <div class="divider mx-2 bg-white" style="width: 1px; height: 36px;"></div> -->
        <img *ngIf="connectedUser.isAdmin" class="w-10 h-10 cursor-pointer"
          [src]="currentRoute === 0 ? 'assets/images/user_rose.png' : 'assets/images/user_blanc.png'" alt="Journal"
          (click)="onGoToClients()">
        <div *ngIf="connectedUser.isAdmin && currentRoute !== 0" class="divider mx-2 bg-white"
          style="width: 1px; height: 36px;"></div>
        <img *ngIf="currentRoute !== 0" class="w-10 h-10 cursor-pointer"
          [src]="currentRoute === 1 ? 'assets/images/journal_rose.png' : 'assets/images/journal_blanc.png'"
          alt="Journal" (click)="onGoToLedger()">
        <div *ngIf="currentRoute !== 0" class="divider mx-2 bg-white" style="width: 1px; height: 36px;"></div>
        <img *ngIf="currentRoute !== 0" class="w-10 h-10 cursor-pointer"
          [src]="currentRoute === 2 ? 'assets/images/config_rose.png' : 'assets/images/config_blanc.png'" alt="Settings"
          (click)="onGoToConfiguration()">
        <div *ngIf="currentRoute !== 0" class="divider mx-2 bg-white" style="width: 1px; height: 36px;"></div>
      </div>
      <div class="flex justify-center items-center">
        <img class="w-auto h-12" src="assets/images/logo.png" alt="Home">
        <div class="flex flex-col justify-center items-center">
          <div class="text-xl text-white ml-2">
            Arkcash
          </div>
          <div class="text-xs text-white">
            {{appVersion}}
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <div class="text-xl text-white">
          {{connectedUser.name}}
        </div>
        <div *ngIf="userCancelInstall" class="divider mx-2 bg-white" style="width: 1px; height: 36px;"></div>
        <img *ngIf="userCancelInstall" class="w-auto h-8 cursor-pointer" src="assets/images/pc.png" alt="LogOut"
          (click)="onResetInstall()">
        <div class="divider mx-2 bg-white" style="width: 1px; height: 36px;"></div>
        <img class="w-8 h-auto cursor-pointer" src="assets/images/deconnecter.png" alt="LogOut" (click)="onLogout()">
      </div>
    </div>
  </nav>
  <nav
    class="bg-gray-900 shadow pt-1 md:pt-1 pb-1 px-1 mt-0 h-auto w-full z-20 bottom-0 md:hidden flex flex-col justify-center">
    <!-- <nav
    class="bg-gray-900 shadow pt-1 md:pt-1 pb-1 px-1 mt-0 h-auto w-full z-20 bottom-0 md:hidden flex flex-col justify-center"
    style="height: 7%;"> -->
    <div class="flex flex-row justify-between items-center px-2">
      <div class="w-full flex justify-center border-r" (click)="showLogoutConfirmation = true">
        <img class="nav-icon cursor-pointer" src="assets/images/deconnecter.png" alt="LogOut">
      </div>
      <div *ngIf="connectedUser.isAdmin" class="w-full flex justify-center border-r" (click)="onGoToClients()">
        <img class="nav-icon cursor-pointer"
          [src]="currentRoute === 0 ? 'assets/images/user_rose.png' : 'assets/images/user_blanc.png'" alt="Clients">
      </div>
      <div class="w-full flex justify-center border-r" (click)="onGoToConfiguration()">
        <img class="nav-icon cursor-pointer"
          [src]="currentRoute === 2 ? 'assets/images/config_rose.png' : 'assets/images/config_blanc.png'"
          alt="Settings">
      </div>
      <div class="w-full flex justify-center border-r" (click)="onGoToLedger()">
        <img class="nav-icon cursor-pointer"
          [src]="currentRoute === 1 ? 'assets/images/journal_rose.png' : 'assets/images/journal_blanc.png'"
          alt="Journal">
      </div>
      <div *ngIf="currentRoute !== 4" class="w-full flex justify-center" (click)="onGoToAddMobile()">
        <img class="nav-icon cursor-pointer"
          [src]="currentRoute === 3 ? 'assets/images/add_small_rose.png' : 'assets/images/add_small.png'" alt="Add">
      </div>
      <div *ngIf="currentRoute === 4" class="w-full flex justify-center">
        <img class="nav-icon cursor-pointer" src="assets/images/edit_rose.png" alt="Add">
      </div>
    </div>
  </nav>
  <div class="h-full overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
<div [class.opacity-100]="showLogoutConfirmation" [class.pointer-events-auto]="showLogoutConfirmation"
  class="opacity-0 pointer-events-none modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="border border-gray-500 flex flex-col ng-star-inserted py-2 px-6 rounded-lg shadow z-30 bg-white">
    <div class="text-xl">
      Êtes-vous sûr ?
    </div>
    <div class="flex justify-center items-center mt-2">
      <div
        class="bg-gray-600 border-gray-600 cursor-pointer flex items-center justify-center py-1 rounded shadow text-white w-12"
        (click)="onLogout()">
        Oui
      </div>
      <div
        class="border border-gray-600 cursor-pointer flex items-center justify-center ml-3 py-1 rounded shadow text-gray-600 w-12"
        (click)="showLogoutConfirmation = false">
        Non
      </div>
    </div>
  </div>
</div>
<div [class.opacity-100]="showInstallPopUp" [class.pointer-events-auto]="showInstallPopUp"
  class="opacity-0 pointer-events-none modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="absolute w-88 h-auto bg-white rounded-lg shadow-lg flex flex-col items-center justify-start p-5 pt-4">
    <div class="flex flex-row justify-between w-full">
      <div class="icon-tile bg-gray-100 rounded-lg"></div>
      <div class="icon-tile bg-gray-200 rounded-lg"></div>
      <div class="icon-tile bg-gray-300 rounded-lg shadow-lg p-1">
        <img class="w-20 md:w-40 h-auto" src="assets/images/logo.png" alt="">
      </div>
      <div class="icon-tile bg-gray-200 rounded-lg"></div>
      <div class="icon-tile bg-gray-100 rounded-lg"></div>
    </div>
    <div class="text-xl mt-6">Installer Arkcash</div>
    <div class="text-base mt-6 text-center">Installez Arkcash sur votre appareil pour un accès rapide et facile</div>
    <button class="bg-navy hover:bg-navy-light text-white py-1 h-8 px-4 rounded mt-6" (click)="onInstall()">
      Installer
    </button>
    <button
      class="bg-transparent hover:bg-navy text-navy hover:text-white py-1 px-4 h-8 mt-4 border border-navy hover:border-transparent rounded"
      (click)="onCancel()">
      Annuler
    </button>
  </div>
</div>
<div [class.opacity-100]="showInstallPopUpIos" [class.pointer-events-auto]="showInstallPopUpIos"
  class="opacity-0 pointer-events-none modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="absolute w-88 h-auto bg-white rounded-lg shadow-lg flex flex-col items-center justify-start p-5 pt-4">
    <div class="flex flex-row justify-between w-full">
      <div class="icon-tile bg-gray-100 rounded-lg"></div>
      <div class="icon-tile bg-gray-200 rounded-lg"></div>
      <div class="icon-tile bg-gray-300 rounded-lg shadow-lg p-1">
        <img class="w-20 md:w-40 h-auto" src="assets/images/logo.png" alt="">
      </div>
      <div class="icon-tile bg-gray-200 rounded-lg"></div>
      <div class="icon-tile bg-gray-100 rounded-lg"></div>
    </div>
    <div class="text-xl mt-6">Installer Arkcash</div>
    <div class="text-base mt-6 text-center">Installez Arkcash sur votre appareil pour un accès rapide et facile</div>
    <div class="flex items-center justify-start mt-5 p-2 rounded shadow text-base">
      <span>
        Pressez
      </span>
      <img class="w-4 h-auto mx-2" src="assets/images/share_ios.png" alt="Share">
      <span>
        puis "Sur l'écran d'accueil"
      </span>
    </div>
    <button
      class="bg-transparent hover:bg-navy text-navy hover:text-white py-1 px-4 h-8 mt-4 border border-navy hover:border-transparent rounded"
      (click)="cancelIosInstall()">
      Annuler
    </button>
  </div>
</div>
