<div class="flex flex-col h-full">
  <div class="flex flex-col" *ngIf="editEntry">
    <div class="flex justify-start items-center w-full bg-gray-800">
      <div class="flex justify-start items-center w-full">
        <div [ngClass]="selectedMode === 2 ? 'bg-green-600 text-white' : 'bg-gray-300 text-black'"
          class="py-2 w-32 flex justify-center items-center h-full w-1/2">
          <img *ngIf="selectedMode !== 2" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/entrees_gris.png"
            alt="Entrees">
          <img *ngIf="selectedMode === 2" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/entrees.png"
            alt="Entrees">
          <span>Entrée</span>
        </div>
        <div [ngClass]="selectedMode === 1 ? 'bg-red-500 text-white' : 'bg-gray-300 text-black'"
          class="py-2 w-32 flex justify-center items-center h-full w-1/2">
          <img *ngIf="selectedMode !== 1" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/sorties_gris.png"
            alt="Sorties">
          <img *ngIf="selectedMode === 1" class="w-6 h-auto cursor-pointer mr-2" src="assets/images/sorties.png"
            alt="Sorties">
          <span>Sortie</span>
        </div>
      </div>
      <div class="flex justify-center items-center px-6">
        <img class="w-6 h-auto cursor-pointer" src="assets/images/cancel_white_mobile.png" alt="Cancel"
          (click)="onGoToLedger()">
      </div>
    </div>
    <div class="flex flex-col pt-4 px-4">
      <ejs-dropdownlist *ngIf="editEntryAddress" class="w-full" id='ddAddresses' [dataSource]='addressList'
        [fields]="addressListFields" [value]="editEntryAddress.id" placeholder="Adresse"
        (change)="onEditAddressChange($event)">
      </ejs-dropdownlist>
      <div class="flex items-center justify-between my-2">
        <div class="text-base">
          {{editEntryPieceNo}}
        </div>
        <div class="text-base">
          {{editEntry.entryDate | date:'dd.MM.yyyy'}}
        </div>
        <div class="flex items-center justify-center">
          <div class="text-base">
            {{totalAmount | number:'0.2-2':'de-CH'}}
          </div>
          <div class="ml-2 text-gray-700 text-xs">
            CHF
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col bg-gray-200 mt-1 overflow-y-auto pb-12 h-full px-1">
    <ng-scrollbar>
      <div *ngFor="let item of editEntryItems; let itemIndex = index"
        class="bg-white flex items-center justify-between my-1 ng-star-inserted px-4 py-2 shadow w-full">
        <ejs-dropdownlist *ngIf="item.category" class="w-1/2" id='ddCategories' [dataSource]='categoryList$ | async'
          style="margin-top: 1px;" [fields]="categoryListFields" [value]="item.category.id"
          (change)="onChangeItemCategory($event, itemIndex)" placeholder="Catégorie">
        </ejs-dropdownlist>
        <div class="border-b border-gray-500 flex items-center ml-2 w-1/2 mr-4">
          <input [ngModel]="item.amount" (ngModelChange)="onEditEntryItemAmountChange(item, $event)" inputmode="numeric"
            type="number" (mouseup)="$event.target.select()"
            class="appearance-none bg-transparent border-none w-full py-1 px-2 leading-tight focus:outline-none text-right"
            type="text" placeholder="Montant" aria-label="Amount">
        </div>
        <img class="w-6 h-auto cursor-pointer" src="assets/images/bt_delete.png" alt="Sorties"
          (click)="onRemoveEditEntryItem(itemIndex)">
      </div>
    </ng-scrollbar>
  </div>
  <div class="absolute bottom-0 mb-12 w-full">
    <div class="flex justify-center items-center shadow bottom-0 bg-white">
      <div class="flex justify-start items-center w-full h-full">
        <div class="py-2 flex justify-center items-center h-full w-full shadow" (click)="onAddEntryItem()">
          <img class="w-6 h-auto cursor-pointer mr-2" src="assets/images/bt_add.png" alt="Add">
          <span>Ajouter entrée</span>
        </div>
        <div class="py-2 flex justify-center items-center h-full w-full shadow" (click)="onSaveEditEntry()">
          <img class="w-6 h-auto cursor-pointer mr-2" src="assets/images/bt_save.png" alt="Save">
          <span>Enregistrer</span>
        </div>
      </div>
    </div>
  </div>
</div>
