#arkeio-logo {
  height: 29px;
}

.main-container {
  background-image: linear-gradient(0deg, rgba(35, 37, 37, 0.85), rgba(70, 119, 134, 0.65)), url('../../../assets/images/background.jpg');
  // height: 94.3vh;
  background-size: cover;
}

.footer {
  background-color: #212e3b;
}
