.e-headercell {
  background-color: #212e3b;
  border-bottom-color: #212e3b;
  border-top-color: #212e3b;
  color: #ffffff;
}

.e-headertext {
  font-size: 15px;
}

.e-grid .e-gridheader {
  border-bottom: 0;
}

.e-headertext {
  font-size: 12px;
}
