.e-headercell {
  background-color: #212e3b;
  border-bottom-color: #212e3b;
  border-top-color: #212e3b;
  color: #ffffff;
}

.e-headertext {
  font-size: 15px;
}

.e-grid .e-gridheader {
  border-bottom: 0;
}

.e-headertext {
  font-size: 12px;
}

.custom-input {
  width: 11rem;
  font-size: 15px;
}

.email-input {
  width: 15rem;
  font-size: 15px;
}

.custom-input-mobile {
  width: 11rem;
  font-size: 12px;
}

.email-input-mobile {
  width: 15rem;
  font-size: 12px;
}
